.chatdiv {
background-color: #ededed;
padding: 30px;
box-shadow: 5px 5px 5px #696969;
border-radius: 5px;
border: 1px #FFFFFF solid;
margin-top: 4%;
font-size:2vh;
font-family: 'Roboto', sans-serif;
height: 20%;  
float:right;
}

.messages {
    overflow: auto;
    height:450px;
}

.messagearea {
    margin-top: 5%;
}

.user{
    font-weight: bold;
    color:#464242 !important;
}

