.directory {
    background-color: #ededed;
    padding: 30px;
    box-shadow: 5px 5px 5px #696969;
    border-radius: 5px;
    border: 1px #FFFFFF solid;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.8vh;
}

.infoRow{
  margin-top: 50px;
}




.linebreak{
  margin-bottom: 5%;
}

.listTitle {
  font-size: 5vh;
}

.tborder{
  border: #696969 solid 1px !important;
}


